body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 60%;
  height:600px;
  background: #fff;
  margin: 16px auto;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  margin-top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.content {
  background: #e3f4ff;
  font-size:25px;
  padding: 20px;
  margin-bottom: 20px;
}

.button-container{
  text-align: center;
  background: #e3f4ff;
  font-size:25px;
  margin-bottom: 20px;
  padding: 20px;
}

button{
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  width:150px
}