.font {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}

.color1{
    background-color: black;
    color: white;
}

.color2{
    background-color: yellow;
    color: black;
}